
html,body {
	font-family: Calibri,Verdana,Arial,sans-serif;
	font-size: 10pt;
	color: black;
}

h2 {
	padding: 0;
	padding-left: 8px;
	margin: 0;
	margin-top: 8px;
}

.row0 {
	background-color: #884444
}

.row1 {
	background-color: #448844
}

.qual ul {
	display: none;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

@media (max-width: 600px) {
	html,body {
		font-size: 8pt;
	}
}

