<html>
	<head>
		<title>
			GOJIMO: demo
		</title>
	</head>
	<body>
		<% @quals.each do |qual| %>
			<h1><%= qual.name %></h1>
			<% qual.subjs.each do |subj| %>
				<% if subj.colour.nil? or subj.colour == '' %>
					<div><%= subj.title %></div>
				<% else %>
					<div style="background-color:<%= subj.colour %>"><%= subj.title %></div>
				<% end %>
			<% end %>
		<% end %>
	</body>
</html>